<header>

  <h1>우리들의 등각류 공간 "아이소포더"</h1><br>

  <p style="font-size:1.6rem;">{{myname}}님</p> {{#ifEq myname "GUEST"}}<a href="/login" class="login">로그인</a>   <a href="/join" class="join">회원가입</a>{{else}}<a href="/logout" class="logout">로그아웃</a>{{/ifEq}}
</header>