<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이소포더</title>
  {{> index_css}}
</head>
<body>
{{> header}}
<hr>
<div id="category" style="font-size:1.7rem;text-align:center;">

{{> category}}


</div>

<div id="main" style="font-size:1.2rem;text-align:center;">



<div ="board">

</div>




</div>
{{> index_js}}
</body>
</html>